* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

.post {
    width: 600px;
    padding: 20px;
    margin: 20px;
    border: 3px solid black;
    font-size: 1.2rem;
}

.top-line {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.like-btn {
    background-color: #ffd972;
    padding: 5px 10px;
    border: 2px solid black;
    box-shadow: 4px 4px black;
    font-size: 1.2rem;
    margin-left: 20px;
    cursor: pointer;
}